{%extends 'base.html'%}

{%block header%}
{%if user.is_authenticated%}
{{user.username}}
{%else%}
Profile
{%endif%}
{%endblock%}

{%block content%}
<div class='container'>
{%if user.is_authenticated%}
<br>
<div class='form2' id='form2'>

</div>

{%comment%}
<div class='bodyprofile'>
<p class='header'>Account Information</p>
<div class='box-border'>
<p><b>First Name</b>: {{user.first_name}}</p>
<p><b>Last Name</b>: {{user.last_name}}</p>
<p><b>Email</b>: {{user.email}}</p>
<p><b>Last Login</b>: {{user.last_login}}</p>
<p><b>Date Joined</b>: {{user.date_joined}}</p>

<button class='input' onClick='edit()'>Edit Profile</button>


</div>

{%endcomment%}
<div class='row'>
<div class='col'>
Profile: {{profile.user|title}}
</div>
</div>

<p class='header'>Question Asked</p>


{%if pquestion%}
<div class='row'>

{%include 'askTemplate/question.html' with questions=pquestion%} 
</div>
{%else%}
<p class='subject'>You Have not Asked Any Questions</p>
{%endif%}


<p class='header'>Your Answers to Questions</p>
<div class=''>
{%if panswer%}
{%include 'askTemplate/answerlist.html' with answers=panswer%} 




{%else%}
<p  class='subject'>You have not Answer any Question Yet</p>
{%endif%}
</div>
</div>




</div>


<p class='header'>Forums</p>

<div class='box'>
{%for group in user.ProfUser.group.all%}
<p>{{group.name}}</p>
{%endfor%}
</div>
{%else%}
<div class='warning'>
You have No profile, Kindly Login to Have a Profile</div>
{%endif%}
</div>
</div>
</div>
{%endblock%}